* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: clamp(14px, 1vw, 18px);
}

body {
    background-color: #141414;
    color: rgba(232, 232, 232, 0.861);
}

@mixin flex-column($gap: 0rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

section {
    max-width: 2000px;
}
main {
    width: 100%;
    @include flex-column(0rem);

    section.view1 {
        width: 100%;
        padding: 1rem;
        @include flex-column(1rem);

        .top {
            width: 100%;

            img {
                height: 100%;
                width: 100%;
                border-radius: 1rem;
            }
        }
        .bottom {
            background-color: rgb(37, 37, 37);
            padding: 2rem;
            border-radius: 1rem;
            @include flex-column(4rem);

            .text {
                @include flex-column(0.3rem);
                gap: 0.5rem;

                h1 {
                    font-size: 2.5rem;
                    font-weight: 500;
                    line-height: 1.2em;
                    margin-bottom: 0.3em;
                }
                p {
                    font-weight: 500;
                    font-size: 1.2rem;
                    opacity: 0.6;
                    line-height: 1.5;
                }
                button {
                    width: fit-content;
                    padding: 0.7rem 1rem;
                    outline: none;
                    border: none;
                    border-radius: 1rem;
                }
            }
            
        }
    }

    section.view2 {
        width: 100%;
        padding: 1rem;
        @include flex-column(2.5rem);

        .top,.bottom {
            display: flex;
            width: 100%;
            justify-content: space-around;

            .element {
                text-align: center;
                @include flex-column(0.2rem);

                small {
                    font-size: 1rem;
                    opacity: 0.8;
                }

                h2 {
                    font-size: 2.7rem;
                    font-weight: 400;
                }
            }

        }

    }

    section.view3 {
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem;
        
        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 1rem;
            }
        }
        .bottom {
            @include flex-column(4rem);
            width: 100%;
            background-color: rgb(37, 37, 37);
            border-radius: 1rem;
            padding: 2rem;

            .text {
                width: 100%;
                @include flex-column(1.5rem);

                h1 {
                    font-size: 2.5rem;
                    font-weight: 400;
                    line-height: 1.2em;
                    color: rgb(243, 243, 243);
                }
                p {
                    font-weight: 500;
                    font-size: 1.2rem;
                    opacity: 0.6;
                    line-height: 1.5;
                }
                
            }
        }
    }
    section.view4 {
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem;
        
        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 1rem;
            }
        }
        .bottom {
            @include flex-column(4rem);
            width: 100%;
            color: rgba(222, 222, 222, 0.956);
            background-color: rgb(37, 37, 37);
            border-radius: 1rem;
            padding: 2rem;
            
            p {
                color: rgb(238, 238, 238);
            }

            .text {
                width: 100%;
                @include flex-column(1.5rem);

                h1 {
                    font-size: 2.5rem;
                    font-weight: 400;
                    line-height: 1.2em;
                    color: rgb(243, 243, 243);
                }
                p {
                    font-weight: 500;
                    font-size: 1.2rem;
                    opacity: 0.6;
                    line-height: 1.5;
                }
                
            }
        }
    }
    section.view5 {
        padding: 1rem 2.6rem;
        
        h1 {
            font-size: 2.3rem;
            font-weight: 500;
        }

        .button {
            opacity: 0;
        }
    }
}


@media (min-width:900px) {
    main {
        background-color: rgb(24, 24, 24);
        align-items: center;

        section.view1 {
            flex-direction: row;
            padding: 1.2rem;
           
            .top, .bottom {
                width: 50%;
            }
            .bottom {
                justify-content: space-between;
                padding: 3.5rem;

                .text {
                    gap: 1.2rem;

                    h1 {
                        font-size: 4.5rem;
                    }

                    p {
                        font-size: 1.2rem;
                        font-weight: 400;
                        width: 90%;
                    }
                }
            }
        }
        section.view2 {
            flex-direction: row;
            padding: 4rem 1.2rem;

            .top,.bottom {
                
                .element {
                    
                    h2 {
                        font-size: 4.3rem;
                    }
                }
            }
        }
        section.view3 {
            flex-direction: row-reverse;
            padding: 1.2rem;

            .top,.bottom {
                width: 50%;
            }

            .bottom {
                justify-content: space-between;

                .text {
                    padding: 1rem;
                    
                    h1{
                        font-size: 3.2rem;
                        font-weight: 400;
                    }

                    .paragraphs {
                        display: flex;
                        gap: 4rem;

                        p{
                            font-size: 1.3rem;
                            line-height: 2rem;
                            font-weight: 400;
                        }
                    }
                }
            }
            .bottom>p {
                    text-transform: uppercase;
                    padding: 1rem;
            }
        }
        section.view4 {
            flex-direction: row;
            padding: 1.2rem;

            .top,.bottom {
                width: 50%;
            }

            .bottom {
                justify-content: space-between;

                .text {
                    padding: 1rem;
                    
                    h1{
                        font-size: 3.2rem;
                        font-weight: 400;
                    }

                    .paragraphs {
                        display: flex;
                        gap: 4rem;

                        p{
                            font-size: 1.3rem;
                            line-height: 2rem;
                            font-weight: 400;
                        }
                    }
                }
            }
            .bottom>p {
                    text-transform: uppercase;
                    padding: 1rem;
            }
        }
        section.view5 {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 1rem 4rem;

            h1 {
                font-size: 3rem;
                font-weight: 400;
            }

            .button {
                opacity: 1;
                display: flex;
                align-items: center;
                gap: 1rem;

                i {
                    font-size: 1.2rem;
                    background-color: rgb(41, 41, 41);
                    border: 1px solid rgb(80, 80, 80);
                    border-radius: 50%;
                    padding: 0.5rem;
                }
                h1 {
                    font-size: 1rem;
                    color: white;
                }
            }
        }
    }
}