* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
}

body {
    background-color: #141414;
}

@mixin flex-column($gap: 0rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

main {
    width: 100%;
    @include flex-column(0rem);

    section {
        width: 100%;
        padding: 1rem;
        @include flex-column(1rem);

        .top {
            width: 100%;

            img {
                height: 100%;
                width: 100%;
                border-radius: 0.8em;
            }
        }
        .bottom {
            background-color: rgb(37, 37, 37);
            color: rgba(255, 255, 255, 0.849);
            padding: 2rem;
            border-radius: 0.8em;
            @include flex-column(4rem);

            .text {
                @include flex-column(0.3rem);

                h1 {
                    font-size: 2.2em;
                    font-weight: 400;
                    line-height: 1.2em;
                    margin-bottom: 0.3em;
                }
                p {
                    font-weight: 500;
                    font-size: 1.2rem;
                    opacity: 0.6;
                    line-height: 1.5;
                }
                button {
                    width: fit-content;
                    padding: 0.7rem 1rem;
                    outline: none;
                    border: none;
                    border-radius: 1rem;
                }
            }
            
        }
    }
}
