* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    font-size: clamp(14px, 1vw, 18px);
}

body {
    background-color: #141414;
    color: rgba(232, 232, 232, 0.861);
}

@mixin flex-column($gap: 0rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

section {
    max-width: 2000px;
}
main {
    width: 100%;
    @include flex-column(0rem);

    section.view1 {
        width: 100%;
        padding: 1rem;
        @include flex-column(1rem);

        .top {
            width: 100%;

            img {
                height: 100%;
                width: 100%;
                border-radius: 1rem;
            }
        }
        .bottom {
            background-color: rgb(37, 37, 37);
            padding: 2rem;
            border-radius: 1rem;
            @include flex-column(4rem);

            .text {
                @include flex-column(0.3rem);
                gap: 0.5rem;

                h1 {
                    font-size: 2.5rem;
                    font-weight: 500;
                    line-height: 1.2em;
                    margin-bottom: 0.3em;
                }
                p {
                    font-weight: 500;
                    font-size: 1.2rem;
                    opacity: 0.6;
                    line-height: 1.5;
                }
                button {
                    width: fit-content;
                    padding: 0.7rem 1rem;
                    outline: none;
                    border: none;
                    border-radius: 1rem;
                }
            }
        }
    }

    section.view2 {
        width: 100%;
        padding: 1rem;
        @include flex-column(2.5rem);

        .top,
        .bottom {
            display: flex;
            width: 100%;
            justify-content: space-around;

            .element {
                text-align: center;
                @include flex-column(0.2rem);

                small {
                    font-size: 1rem;
                    opacity: 0.8;
                }

                h2 {
                    font-size: 2.7rem;
                    font-weight: 400;
                }
            }
        }
    }

    section.view3 {
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem;

        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 1rem;
            }
        }
        .bottom {
            @include flex-column(4rem);
            width: 100%;
            background-color: rgb(37, 37, 37);
            border-radius: 1rem;
            padding: 2rem;

            .text {
                width: 100%;
                @include flex-column(1.5rem);

                h1 {
                    font-size: 2.5rem;
                    font-weight: 400;
                    line-height: 1.2em;
                    color: rgb(243, 243, 243);
                }
                p {
                    font-weight: 500;
                    font-size: 1.2rem;
                    opacity: 0.6;
                    line-height: 1.5;
                }
            }
        }
    }
    section.view4 {
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem;

        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 1rem;
            }
        }
        .bottom {
            @include flex-column(4rem);
            width: 100%;
            color: rgba(222, 222, 222, 0.956);
            background-color: rgb(37, 37, 37);
            border-radius: 1rem;
            padding: 2rem;

            p {
                color: rgb(238, 238, 238);
            }

            .text {
                width: 100%;
                @include flex-column(1.5rem);

                h1 {
                    font-size: 2.5rem;
                    font-weight: 400;
                    line-height: 1.2em;
                    color: rgb(243, 243, 243);
                }
                p {
                    font-weight: 500;
                    font-size: 1.2rem;
                    opacity: 0.6;
                    line-height: 1.5;
                }
            }
        }
    }
    section.view5 {
        padding: 0.5rem 2.6rem;

        h1 {
            font-size: 2.3rem;
            font-weight: 500;
        }

        .button {
            display: none;
        }
    }
    section.view6 {
        @include flex-column(0rem);
        width: 100%;
        gap: 1rem;
        padding: 0.5rem 1rem;

        .card {
            border-radius: 1rem;
            width: 100%;
            background-image: url(./img4.webp);
            background-size: cover;
            aspect-ratio: 1/1;

            @include flex-column(0rem);
            justify-content: space-between;
            padding: 1rem;

            .icon,
            .bottom {
                background-color: rgba(71, 71, 71, 0.39);
                backdrop-filter: blur(5px);
                border: 1px solid rgba(221, 221, 221, 0.23);
                border-radius: 0.5rem;
                padding: 0.7rem;
            }

            .top {
                display: flex;
                justify-content: flex-end;
                gap: 1rem;
                padding: 1rem;
            }
            .icon {
                width: fit-content;
                border-radius: 50%;
                cursor: pointer;

                i {
                    font-size: 1.2rem;
                    font-weight: 100;
                }
            }
            .icon:hover {
                border: 1px solid white;
                transition: all ease 0.6s;
            }
            .bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1.3rem;

                h3 {
                    font-size: 1.4rem;
                    font-weight: 400;
                }
                p {
                    font-size: 1rem;
                }
            }
        }
        .card:nth-child(2) {
            background-image: url(./img5.webp);
        }
        .card:nth-child(3) {
            background-image: url(./img6.webp);
        }
    }
    section.view7 {
        @include flex-column(0rem);
        width: 100%;
        padding: 0.5rem 1rem;
        gap: 1rem;

        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 1rem;
            }
        }
        .bottom {
            padding: 2rem;
            @include flex-column(5rem);
            background-color: rgb(37, 37, 37);
            border-radius: 1rem;

            .first {
                p {
                    opacity: 0.8;
                }
                h1 {
                    font-size: 2.4rem;
                    font-weight: 500;
                    line-height: 3rem;
                }
            }

            .button {
                opacity: 1;
                display: flex;
                align-items: center;
                gap: 1rem;
                cursor: pointer;

                i {
                    font-size: 1.2rem;
                    background-color: rgb(41, 41, 41);
                    border: 1px solid rgb(80, 80, 80);
                    border-radius: 50%;
                    padding: 0.5rem;
                }
                h1 {
                    font-size: 1rem;
                    color: white;
                }
            }
        }
    }
    section.view8 {
        width: 100%;
        padding: 0.5rem 1rem;

        .view8-main {
            @include flex-column(1rem);
            width: 100%;
            padding: 2rem;
            background-color: #cebd63;
            color: black;
            border-radius: 1rem;

            .top {
                width: 100%;

                h1 {
                    font-size: 3rem;
                    font-weight: 400;
                    line-height: 3.2rem;
                }
            }
            .bottom {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                padding: 1rem 1rem;
                background-color: rgb(21, 21, 21);
                color: rgba(236, 236, 236, 0.875);
                border-radius: 0.6rem;

                h2 {
                    font-size: 1rem;
                    font-weight: 500;
                }
                i {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media (min-width: 900px) {
    main {
        background-color: rgb(24, 24, 24);
        align-items: center;

        section.view1 {
            flex-direction: row;
            padding: 1.2rem;

            .top,
            .bottom {
                width: 50%;
            }
            .bottom {
                justify-content: space-between;
                padding: 3.5rem;

                .text {
                    gap: 1.2rem;

                    h1 {
                        font-size: 4.5rem;
                    }

                    p {
                        font-size: 1.2rem;
                        font-weight: 400;
                        width: 90%;
                    }
                }
            }
        }
        section.view2 {
            flex-direction: row;
            padding: 4rem 1.2rem;

            .top,
            .bottom {
                .element {
                    h2 {
                        font-size: 4.3rem;
                    }
                }
            }
        }
        section.view3 {
            flex-direction: row-reverse;
            padding: 1.2rem;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                justify-content: space-between;

                .text {
                    padding: 1rem;

                    h1 {
                        font-size: 3.2rem;
                        font-weight: 400;
                    }

                    .paragraphs {
                        display: flex;
                        gap: 4rem;

                        p {
                            font-size: 1.3rem;
                            line-height: 2rem;
                            font-weight: 400;
                        }
                    }
                }
            }
            .bottom > p {
                text-transform: uppercase;
                padding: 1rem;
            }
        }
        section.view4 {
            flex-direction: row;
            padding: 1.2rem;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                justify-content: space-between;

                .text {
                    padding: 1rem;

                    h1 {
                        font-size: 3.2rem;
                        font-weight: 400;
                    }

                    .paragraphs {
                        display: flex;
                        gap: 4rem;

                        p {
                            font-size: 1.3rem;
                            line-height: 2rem;
                            font-weight: 400;
                        }
                    }
                }
            }
            .bottom > p {
                text-transform: uppercase;
                padding: 1rem;
            }
        }
        section.view5 {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 1rem 4rem;

            h1 {
                font-size: 3rem;
                font-weight: 400;
            }

            .button {
                opacity: 1;
                display: flex;
                align-items: center;
                gap: 1rem;

                i {
                    font-size: 1.2rem;
                    background-color: rgb(41, 41, 41);
                    border: 1px solid rgb(80, 80, 80);
                    border-radius: 50%;
                    padding: 0.5rem;
                }
                h1 {
                    font-size: 1rem;
                    color: white;
                }
            }
        }
        section.view6 {
            flex-direction: row;
        }
        section.view7 {
            width: 100%;
            display: flex;
            flex-direction: row;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                justify-content: space-between;
                padding: 3.5rem;

                .first {
                    h1 {
                        font-size: 3rem;
                        font-weight: 400;
                        line-height: 4rem;
                    }
                }
            }
        }
        section.view8 {
            
            .view8-main {
                flex-direction: row;
                width: 100%;

                .top {
                    width: 80%;
                    padding: 4rem;

                    h1 {
                        font-size: 5.7rem;
                        line-height: 5.5rem;
                    }
                }
                .bottom {
                    width: 20%;
                    padding: 1rem;

                    h2 {
                        font-size: 1rem;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}
