* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-color: rgba(22, 22, 22, 0.938);
    grid-gap: 1.5vw;
    padding: 1vw;
    display: grid;
    grid-template-columns: 1fr 18em 18em 18em;
    grid-template-rows: 1fr 15em;
    grid-template-areas:
        "section1 section2 section2 section2"
        "section1 section3 section4 section5";
    
    section {
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
        border-radius: 10px;


        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
        h1{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 2rem;
            font-weight: 700;
            z-index: 10;
            text-align: center;
            width: 100%;
            opacity: 0;
        }
        &:hover{
            img{
                filter: brightness(80%);
                transform: scale(1.10);
                transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;

            }
            h1{
                font-size: 4vw;
                transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
                opacity: 1;
            }
        }
    }

    .section1 {
        grid-area: section1;
    }
    .section2 {
        grid-area: section2;
    }
    .section3 {
        grid-area: section3;
    }
    .section4 {
        grid-area: section4;
    }
    .section5 {
        grid-area: section5;
    }
}


@media (max-width:600px) {
    main {
    background-color: rgba(22, 22, 22, 0.938);
    grid-gap: 2vw;
    padding: 2vw;
    grid-template-columns: 1fr;
    grid-template-rows: 70vh 40vh 30vh 30vh 30vh;
    grid-template-areas:
        "section1"
        "section2"
        "section3"
        "section4"
        "section5";
    }
}
